{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa Software FUCKING Soluções<br />
    Rua do Código, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>

<address>
    <strong>João Carlos - Dono da Empresa:</strong>   <a href="mailto:boss@example.com">Boss@example.com</a><br />
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
